.library {
    // background: rgb(255, 204, 0);
    // background: linear-gradient(180deg, rgba(255, 204, 0, 1) 0%, rgba(137, 112, 13, 1) 23%, rgba(86, 72, 18, 1) 45%, rgba(24, 24, 24, 1) 61%);
    background-color: $search-bg;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $main-white;
    overflow-y: auto;
    padding: 20px;

    h1 {
        font-weight: 800;
        margin: 10px;
    }

    .song-preview {
        margin: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        cursor: pointer;

        &:hover {
            background-color: $player-bg;
        }


        .song-details {
            display: flex;
            align-items: center;
        }

        h4 {
            text-align: left;
            margin-left: 10px;
        }

        img {
            margin-right: 10px;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }
}