.library {
    // background: rgb(255, 204, 0);
    // background: linear-gradient(180deg, rgba(255, 204, 0, 1) 0%, rgba(137, 112, 13, 1) 23%, rgba(86, 72, 18, 1) 45%, rgba(24, 24, 24, 1) 61%);
    background-color: $search-bg;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $main-white;

    padding: 20px;

    h1 {
        font-weight: 800;
        margin: 10px;
    }


    .results {
        padding: 20px;
        margin-top: 20px;
        height: 50%;
        width: 70%;
        background-color: $player-scnd-txt;
        opacity: 0.6;
    }


    .song-preview {
        margin: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .song-details {
            display: flex;
            align-items: center;
        }

        h4 {
            text-align: left;
        }

        img {
            margin-right: 10px;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }
}