.library {
    background-color: $search-bg;
    color: $main-white;
    overflow-y: scroll;
    grid-column: 2/-1;

    h1 {
        font-weight: 800;
        margin: 10px;
    }

    h2 {
        margin: 12px;
    }


    .playlist-by-genre {
        font-size: 96px;
        font-family: book-bold;
        height: 250px;
        display: flex;
        align-items: flex-end;
        background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%);
        width: 100%;
        padding: 20px;
    }

    .tag-title {
        font-family: book-bold;
        font-size: 2rem;

    }
}