.playlist-details {
    width: calc(100% - 240px);
    background-color: $search-bg;
    width: 100%;
    height: 100vh;
    grid-column: 1/-1;
    color: $main-white;
    margin-bottom: 100px;

    ul {
        margin-bottom: 130px;
        position: relative;
        background-color: transparent;
        padding: 0 16px;

        @media (max-width: 400px) {
            margin-top: 20px;
            padding: 0 0;
        }

        li {
            padding: 0 16px;
        }

        .search-in-plst {
            min-height: 280px;
            margin: 20px 0 0 50px;

            @media (max-width: 400px) {
                margin: 20px 0 0 0;
            }

            .search-in-plst-title {
                padding: 50px 0 0 20px;
                font-family: book-bold;
                font-size: 1.5rem;
                line-height: 1.75rem;
                text-transform: none;
                letter-spacing: -0.04em;
            }
        }
    }

    .playlist-scnd-header {
        display: flex;
        padding: 24px 32px;
        position: relative;
        align-self: center;
        align-items: center;

        >* {
            margin-right: 24px;
        }

        .play-div {
            height: 56px;
            width: 56px;
            background-color: $main-green;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 200px;

            &:hover {
                transform: scale(1.04);
            }
        }
    }

    .playlist-header {

        height: 340px;
        display: flex;
        align-items: center;
        background: linear-gradient(transparent, rgba(0, 0, 0, .5));
        position: relative;
        padding: 62px 30px 30px;

        @media (max-width: 400px) {
            flex-direction: column;
            padding: 42px 20px 20px;
            height: auto;
        }


        &:after {
            content: '';
            height: 300px;
            background: linear-gradient(180deg, rgba(18, 18, 18, 0.6810925053615196) 3%, rgba(18, 18, 18, 1) 80%);
            background-color: inherit;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 0;
        }

        img {
            width: 233px;
            height: 233px;
            box-shadow: 0 4px 60px rgb(0 0 0 / 50%);
        }

        h1 {
            font-family: gotham-bold, sans-serif;
            font-size: 6em;
            margin-left: 30px;
            margin-bottom: 10px;

            @media (max-width: 400px) {
                font-size: 2rem;
                margin-top: 20px;
                margin-bottom: 0px;
                margin-left: 0;

            }

        }

        h2 {
            color: #b3b3b3;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            margin-left: 30px;
        }

    }

    .song-preview {
        margin: 0px 40px;
        display: flex;
        height: 56px;
        align-items: center;
        justify-content: space-between;
        font-family: book, sans-serif;
        padding: 4px 16px;
        cursor: pointer;

        @media (max-width: 400px) {
            margin: 0 0;
            padding: 0 5px;
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, .1);

            .like-btn {
                opacity: 1;
            }
        }

        .idx {
            flex-basis: 40px;

            @media (max-width: 400px) {
                display: none;
            }
        }

        button {
            margin-left: 20px;
            background: none;
            border: none;
            color: $player-scnd-txt;

            @media (max-width: 400px) {
                display: none;
            }

            &:hover {
                color: $main-white;
            }
        }

        .like-btn {
            margin-right: 16px;
        }

        .liked {
            opacity: 0;
        }

        .song-details {
            flex-basis: 90%;
            display: flex;
            align-items: center;
        }

        h4 {
            text-align: left;
            margin-left: 10px;
        }

        .song-img-preview {
            margin-right: 10px;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }

        .playing-gif {
            width: 16px;
        }
    }

    .header {
        margin: 10px 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 16px;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);

        @media (max-width: 400px) {
            display: none;
        }

        .idx {
            width: 10px;
            flex-basis: 10px;
        }

        .song-details {
            flex-basis: 90%;
            display: flex;
            align-items: center;
            margin-left: 90px;
        }

    }

}