.playlist-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 220px);

    @media (max-width: 1625px) {
        grid-template-columns: repeat(auto-fill, 220px);
        max-height: 266px;
        overflow: hidden;
    }

    @media (max-width: 970px) {
        display: flex;
        flex-wrap: wrap;
        max-height: 100%;
    }

    .playlist-card {
        display: flex;
        flex-direction: column;
        width: 188px;
        background-color: $card-list-bg;
        justify-content: flex-start;
        padding: 16px;
        height: 266px;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s all;

        @media (max-width: 970px) {
            height: 200px;
            width: 100%;
        }

        @media (max-width: 400px) {
            height: 100%;
            width: 100px;
        }

        .card-img {
            position: relative;
        }

        &:hover {
            background-color: $card-list-bg-hover;

            .play-div {
                opacity: 1;
                bottom: 16px;
            }
        }

        .play-div {
            block-size: 48px;
            inline-size: 48px;
            position: absolute;
            bottom: 0px;
            right: 8px;
            border-radius: 500px;
            width: 48px;
            height: 48px;
            background-color: $main-green;
            justify-content: center;
            display: flex;
            align-items: center;
            opacity: 0;
            box-shadow: 0 8px 8px rgb(0 0 0 / 30%);
            transition: .3s all;

            .play-svg {
                width: 20px;
                height: 20px;
            }

        }

        h3 {
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: book-bold, sans-serif;
            line-height: 2rem;
            margin-top: 10px;

            @media (max-width: 400px) {
                font-size: 0.8rem;
            }
        }

        h4 {
            line-height: 1.5rem;
            color: $player-scnd-txt;
            font-size: 14px;
            max-width: 140px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-family: book;
        }

        img {
            height: 160px;
            width: 160px;

            @media (max-width: 970px) {
                height: 100px;
                width: 100px;
            }

            @media (max-width: 400px) {
                height: 80px;
                width: 80px;
            }
        }
    }
}