.playlist-details {
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;

    background-color: $search-bg;
    min-height: 100vh;

    color: $main-white;

    ul {
        margin-bottom: 120px;
        position: absolute;
        background-color: transparent;
        padding: 0 16px;
        width: 100%;

    }

    .playlist-header {

        height: 340px;
        display: flex;
        align-items: center;
        background: linear-gradient(transparent, rgba(0, 0, 0, .5));
        position: relative;
        padding: 62px 30px 30px;

        &:after {
            content: '';
            // background-color: inherit;
            height: 300px;
            background: linear-gradient(180deg, rgba(18, 18, 18, 0.6810925053615196) 3%, rgba(18, 18, 18, 1) 80%);
            background-color: inherit;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 0;
        }

        img {
            width: 233px;
            height: 233px;
        }

        h1 {
            font-family: gotham-bold;
            font-size: 96px;
            margin-left: 30px;
            margin-bottom: 10px;
        }

        h2 {
            font-size: 30px;
            margin-left: 30px;
        }

    }

    .song-preview {
        margin: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // padding: 3px 30px;
        cursor: pointer;

        &:hover {
            background-color: hsla(0, 0%, 100%, .1);
        }

        .idx {
            width: 10px;
            flex-basis: 10px;
        }

        .song-details {
            flex-basis: 90%;
            display: flex;
            align-items: center;
        }

        h4 {
            text-align: left;
            margin-left: 10px;
        }

        img {
            margin-right: 10px;
            height: 40px;
            width: 40px;
            object-fit: cover;
        }
    }

    .header {
        margin: 10px 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);

        .idx {
            width: 10px;
            flex-basis: 10px;
        }

        .song-details {
            flex-basis: 90%;
            display: flex;
            align-items: center;
            margin-left: 90px;
        }

    }

}