.player {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-top: 1px solid #282828;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: $player-bg;
    color: $main-white;
    height: auto;

    @media (max-width: 400px) {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    button {
        color: $main-white;
        background: none;
        border: none;
        font-size: 20px;
    }

    iframe {
        height: 0px;
        width: 0px;
    }


    .right-player {
        display: flex;
        align-items: center;
        justify-content: end;
        width: 30%;
        min-width: 180px;

        @media (max-width: 400px) {
            display: none;
        }
    }

    .display-details {
        display: flex;
        align-items: center;
        width: 30%;
        min-width: 180px;

        @media (max-width: 400px) {
            width: 100%;
            justify-content: center;
            border-bottom: 1px solid $add-btn-border;
            border-top: 1px solid $add-btn-border;
            padding: 5px 0;

        }

        img {
            height: 56px;
            width: 56px;

            @media (max-width: 400px) {
                height: 30px;
                width: 30px;

            }

        }

        .result-titles {
            margin-left: 10px;

            h4 {
                font-size: 14px;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0 14px;
                justify-self: flex-start;

                @media (max-width: 400px) {
                    width: 100%;
                }
            }

            h3 {
                font-size: 11px;
                color: $player-scnd-txt;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 0.6875rem;
                line-height: 1rem;
                margin: 0 14px;
            }
        }

    }

    .middle-player {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        min-width: 722px;

        @media (max-width: 400px) {
            min-width: 100%;
        }

        .actions {
            margin-bottom: 8px;
            gap: 16px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px 0;

            @media (max-width: 400px) {
                justify-content: center;
                margin-bottom: 0px;
            }


            .main-btn {
                display: block;
                width: 32px;
            }

            .left-btns {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 8px;

                @media (max-width: 400px) {
                    flex: none;
                }
            }


            .right-btns {
                flex: 1;
                gap: 8px;
                width: 30%;
                min-width: 180px;
                display: flex;
                justify-content: baseline;
                align-items: center;

                @media (max-width: 400px) {
                    flex: none;
                    width: auto;
                    min-width: auto
                }
            }




            .play {
                background-color: $main-white;
                border-radius: 50%;
                padding: 5px;
                width: 34px;
                font-size: 22px;
                text-align: center;
                left: 50px;
            }
        }

        .duration {
            display: flex;
            align-items: center;
            width: 100%;

            h4 {
                min-width: 70px;
                text-align: center;
                font-size: 0.6875rem;

                @media (max-width: 400px) {
                    display: none;
                }
            }


        }
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 1px 1px;
        height: 1px;
        width: 100%;


        &.volume-input {
            width: 125px;
        }

    }

    input[type=range]:focus {
        outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #5e5e5e;
        border-radius: 0px;
        border: 0px solid #000000;

        // &:hover {
        //     background-color: $main-green;
        // }
    }

    input[type=range]::-webkit-slider-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 0px solid #ffffff;
        height: 4px;
        width: 4px;
        border-radius: 4px;
        background: $main-white;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: 0px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
        background: #5e5e5e;
    }

    input[type=range]::-moz-range-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        box-shadow: 0px 0px 0px #000000;
        background: #5e5e5e;
        border-radius: 0px;
        border: 0px solid #000000;
    }

    input[type=range]::-moz-range-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 0px solid #ffffff;
        height: 4px;
        width: 4px;
        border-radius: 4px;
        background: #FFFFFF;
        cursor: pointer;
    }

    input[type=range]::-ms-track {
        width: 100%;
        height: 4px;
        cursor: pointer;
        animate: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: $main-green;
        border: 0px solid #000000;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-fill-upper {
        background: $main-green;
        border: 0px solid #000000;
        border-radius: 0px;
        box-shadow: 0px 0px 0px #000000;
    }

    input[type=range]::-ms-thumb {
        box-shadow: 0px 0px 1px #000000;
        border: 0px solid #ffffff;
        height: 4px;
        width: 4px;
        border-radius: 4px;
        background: #FFFFFF;
        cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
        background: $main-green;
    }

    input[type=range]:focus::-ms-fill-upper {
        background: #5e5e5e;
    }

}