.search-bar {
    padding: 10px;
    color: white;

    input {
        margin: 0 10px;
        padding: 10px;
        border-radius: 18px;
        width: 364px;

        &:focus {
            outline: none;
        }
    }

    .search-btn {
        background: none;
        border: none;
        background-color: $main-white;
        padding: 5px;
        border-radius: 50%;
    }
}