.search-section {

    .results {
        display: flex;
        justify-content: space-around;

        .top-results {
            flex-grow: 0.3;
            font-family: book-bold;

            .top-result {
                color: $main-white;
                background-color: $player-bg;
                height: 224px;
                padding: 20px;
                border-radius: 5px;
                transition: 0.3s all;
                font-family: book, sans-serif;


                &:hover {
                    background-color: $card-list-bg-hover;
                }


                img {
                    height: 92px;
                    width: 92px;
                }

                h2 {
                    cursor: pointer;
                    font-size: 36px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 300px;
                }

                h3 {
                    font-size: 18px;
                }
            }
        }

        .title {
            padding: 15px 25px;
            color: white;
            font-weight: 900;
            font-size: 24px;
            font-family: book-bold;
        }

        .more-results {
            flex-grow: 0.67;

            .result {
                color: white;
                min-height: 56px;
                overflow: visible;
                margin: 0px 0px 0 30px;
                display: flex;
                align-items: center;
                border-radius: 5px;
                font-family: book, sans-serif;
                position: relative;

                button {
                    position: absolute;
                    right: 5px;
                    background: none;
                    color: $main-white;
                    border: 1px solid $add-btn-border;
                    border-radius: 10px;
                    padding: 7px 15px;
                    font-family: book-bold;
                    font-size: 0.875rem;
                    line-height: 1rem;
                    text-transform: none;
                    letter-spacing: normal;
                    transition: 0.2s;


                    &:hover {
                        border: 1px solid $main-white;
                        transform: scale(1.04);
                    }
                }

                &:hover {
                    background-color: $card-list-bg-hover;
                }

                img {
                    height: 40px;
                    width: 40px;
                    margin-left: 10px;
                }

                .result-titles {
                    margin-left: 10px;
                    cursor: pointer;


                    h2 {
                        max-width: 400px;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 24px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;

                    }

                    h3 {
                        font-size: 14px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        color: $player-scnd-txt;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}