.home-screen {

    .upper-screen {
        display: flex;
        height: calc(100vh - 61px);
    }

    .main-screen {
        width: 100%;
        height: 100vh;
        background-color: $search-bg;

        .search-bar {
            height: 64px;
            display: flex;
            align-self: center;
            align-items: center;
        }
    }

    nav {
        font-family: book-bold;
        font-size: 14px;
        width: 240px;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: fixed;
        padding: 24px;

        a {
            width: 60%;
            display: flex;
            justify-content: space-between;
        }

        .logo {
            width: 130px;
            display: flex;
            align-items: center;
            align-self: center;
            justify-content: center;
            margin: 0px 0 18px;

            h1 {
                font-weight: 1000;
                font-size: 24px;
                margin-left: 5px;
            }

            img {
                width: 40px;
                height: 40px;
            }
        }

        >* {
            padding: 0 20px;
        }

        a {
            height: 40px;
        }
    }
}