.home-page {
    background-color: #d0bb1b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 100vh;

    >* {
        padding: 10px;
    }

    .counter {
        >* {
            padding: 10px;
        }
    }

}