.search-page {
    background-color: $search-bg;
    grid-column: 2;


    .tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 40px 0;
        margin-bottom: 130px;

        @media (max-width: 760px) {
            justify-content: center;
        }

        a {
            &:hover {
                text-decoration: none;
            }
        }

        .tag-preview {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            color: $main-white;
            padding: 20px;
            transition: 0.2s;
            position: relative;
            overflow: hidden;

            @media (max-width: 1000px) {
                width: 130px;
                height: 130px;
            }

            h2 {
                font-weight: 800;

                @media (max-width: 1000px) {
                    font-size: 16px;
                    font-weight: 600;
                }
            }

            &:hover {
                transform: scale(1.02);
            }

            .tag-img {
                height: 100px;
                width: 100px;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: rotate(25deg) translate(18%, -2%);

                @media (max-width: 1000px) {
                    width: 60px;
                    height: 60px;
                }
            }

        }
    }
}