.search-page {
    background-color: $search-bg;
    padding: 10px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;

    .title {
        padding: 15px 25px;
        color: white;
        font-weight: 900;
        font-size: 24px;
    }

    .result {
        color: white;
        min-height: 56px;
        max-width: 600px;
        overflow: visible;
        margin: 5px 5px 0 30px;
        display: flex;
        align-items: center;
        padding: 10px;

        &:hover {
            background-color: $player-bg;
        }

        img {
            height: 40px;
            width: 40px;
        }

        .result-titles {
            margin-left: 10px;
            cursor: pointer;


            h2 {
                max-width: 400px;
                font-size: 16px;
                font-weight: 600;
                line-height: 24px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;


                &:hover {
                    text-decoration: underline;
                }
            }

            h3 {
                font-size: 14px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: $player-scnd-txt;
            }
        }
    }

    .tags-list {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        margin: 40px;
        margin-bottom: 200px;

        .tag-preview {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            color: $main-white;
            // cursor: pointer;
            padding: 20px;
            transition: 0.2s;
            position: relative;
            overflow: hidden;

            h2 {
                font-weight: 800;
            }

            &:hover {
                transform: scale(1.02);
            }

            .tag-img {
                height: 100px;
                width: 100px;
                position: absolute;
                right: 0;
                bottom: 0;
                transform: rotate(25deg) translate(18%, -2%);
            }

        }
    }
}