*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: gotham-light, 'Trebuchet MS', sans-serif;

}

body {
  margin: 0;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
  text-align: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: underline;
  }
}


::-webkit-scrollbar {
  width: 12px;
  height: 14px;
  display: none;

  @media (min-width: 680px) {
    display: block
  }
}

body {
  scrollbar-width: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  min-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-corner {
  display: none;
}