@font-face {
    font-family: gotham-bold;
    src: url('../../assets/fonts//GothamBold.ttf');
}

@font-face {
    font-family: gotham-medium;
    src: url('../../assets/fonts/GothamMedium.ttf');
}

@font-face {
    font-family: gotham-light;
    src: url('../../assets/fonts/GothamLight.ttf');
}