$yellow: #ffcc00;
$player-bg: #181818;
$search-bg: #121212;
$player-scnd-txt: #b3b3b3;
$main-white: #ffffff;
$main-green: #1fdf64;
$card-list-bg: #171717;
$card-list-bg-hover: #282828;
$add-btn-border: #878787;